$dark:#1e0353;

$medium:#44029a;
$light:#680ab6;

$yellow:#f2b401;

$bg:#e6e6e6;

$text:#090328;



/* za timeline */
$title-background: #3d9e67;
$background-color: #faf8eb;
$content-background-color: #67CC8E;
$content-background-gradient: #56BC83;
$time-color: #fff;
$text-color: #fff;
$content-width: 450px;