input[type="radio"] { display: none; }

input[type="radio"]:checked + section { display: block; }

.kontejner {
  position: relative;
  width: 80%;
  height: 450px;
  margin: 100px auto;
}

.kontejner i{
    color: yellow;
}

.kontejner section {
  display: none;
  height: 100%;
  padding: 15px;
  background: #449df5;
  color: #fff;
  text-align: center;
  
}

.kontejner section h1 {
  margin-bottom: 0;
  font-weight: lighter;
  font-size: 2em;
}

.kontejner section p {
  width: 75%;
  margin: 0 auto;
  padding: 10px;
}

.kontejner section label {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  bottom: 0;
}

.kontejner section label:nth-child(odd) { right: 120px; }

.kontejner section label:nth-child(even) { left: 120px; }

.kontejner section > i {
  font-size: 6em !important;
  margin-top: 50px;
  margin-bottom: 25px;
}