@import '_colors.scss';

input[type="radio"] { display: none; }

input[type="radio"]:checked + section { display: block; }


.kontejner {
  position: relative;
  width: 60%;
  height: 450px;
}

.kontejner i{
    color:white;
}

.kontejner {
  section {
    display: none;
    height: 100%;
    
    color: white;
    text-align: center;
    background-color: rgba(242, 180, 1, 0.87);
  backdrop-filter: undefined;
  -webkit-backdrop-filter: undefined;
  border: 5px;
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;

    
  }

  section h1 {
    margin-bottom: 0;
    font-weight: lighter;
    font-size: 2em;
  }

  section p {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }

  section label {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5em;
    bottom: 0;
  }

  section img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 25px;
    
  }

  section #rangstar{
    margin-top: 30px;

  }
  
}






.kontejner section label:nth-child(odd) { right: 120px; }

.kontejner section label:nth-child(even) { left: 120px; }

.kontejner section > i {
  font-size: 6em !important;
  margin-top: 50px;
  margin-bottom: 25px;
}