@import '_colors.scss', '_nav.scss', '_slider.scss';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif !important;
  width: 100%;
  height: 100%;
}

/* Works on Firefox */
* {
  scrollbar-color: $yellow $dark;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

::selection {
  background: $dark;
  color: $yellow;
}
::-moz-selection {
  background: $dark;
  color: $yellow;
}

/** HOME DIV ******************************/
.landing {
  position: relative;
  width: 100%;  
  background-image: linear-gradient(to right top, $light,$medium,$dark,$dark); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.zvezde {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.planeta {
  width: 120px;
  height: auto;
  position: absolute;
  bottom: 65%;
  left: 25%;
}

.clouds {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 700px;
}

#cloud1 {
  width: 100%;
  opacity: 0.05;
}

#cloud2 {
  left: 0;
  width: 100%;
  position: absolute;
  opacity: 0.03;
  z-index: 1;
}

#cloud3 {
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: 2;
}

/** Text i raketa **/
.raketa {
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  img {
    height: 600px;
    z-index: 3;
    padding: 0;
    margin-right: 10%;
  }
}

.textidug {
  position: relative;
  z-index: 3;
  padding-bottom: 60px;

  h1 {
    padding-bottom: 5px;
    color: $dark;
    text-decoration: solid;
  }
  p{
    font-size: 1em;
    padding-bottom: 20px;
    color: $dark;
  }
}

.mainbtn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif ;
  color: #ffffff;
  background: $yellow;
  padding: 5px 100px 5px 100px;
  text-decoration: none;
  border-style: none;
}

.mainbtn:hover {
  background:$dark;
  text-decoration: none;
}

.toTheTop{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: $dark;
  z-index: 90;
  i{
    font-size: 30px;
    margin-top: 8px;
   
    color: white;
    
  }
}

.toTheTop:hover{
    background-color: $yellow;
}
/** Responsive **/




/** ABOUT DIV ******************************/

#About {
  position: relative;
  z-index: 9;
  margin-top: 100px;
}

.morp-bg {
  background-image: url('../img/about2.png');
  width: 100%;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.morp-f {
  position: absolute;
  width: 52%;
  height: 400px;
  z-index: 1;
  right: 0;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.87);
  backdrop-filter: undefined;
  -webkit-backdrop-filter: undefined;
  border: 5px;
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  color: rgb(255, 255, 255);

  h2 {
    padding: 60px;
    color: $dark;
    text-decoration: solid;
    letter-spacing: 1px;
  }

  p {
    padding: 20px 40px 0 40px;
    color: $dark;
    text-align: justify;
  }

  h5 {
    font-style: italic;
    color: $dark;
    padding: 10px 40px;
    text-align: right;
  }
} 

/** TIME LINE DIV 3 ******************************/
.Ourjourney{
  margin-top: 100px;
  background-image: url("../img/timelinezvede.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.timeline{
  color: white;
  
  ul{
    padding: 50px 0;
    
    li{
      background: $dark;
      position: relative;
      margin: 0 auto;
      width: 5px;
      padding-bottom: 40px;
      list-style-type: none;
      
      &:last-child{
        padding-bottom: 7px;
      }
      
      &:before{
        content: '';
        background: white;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        width: 20px;
        height: 20px;
        border: 3px solid $dark;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      
      .content{
        background: $dark; 
        position: relative;
        top: 7px;
        width: $content-width;
        padding: 20px;
        
        #ljubicastaplaneta{
          width: 150px;
          position: absolute;
          z-index: -1;
          right: -60px;
          bottom: -60px;
          
        }

        #moon{
          width: 150px;
          height: 150px;
          position: absolute;
          z-index: -1;
          top: -100px;
          left: -30px;
          
          
        }
        
        h2{
          color: $yellow;
          padding-bottom: 10px;
          text-align: center;
        }
        
        p{
          text-align: center;
        }
        
        &:before{
          content: '';
          background: $dark;
          position: absolute;
          top: 0px;
          width: 70px;
          height: 5px;
        }
      }
      
      &:nth-child(even) .content {
        left: 50px;
        background-color: rgba(30, 3, 83, 0.7);
        backdrop-filter: undefined;
        -webkit-backdrop-filter: undefined;
        border: 5px;
        box-shadow: rgba(142, 142, 142, 0.19) 0px 6px       15px 0px;
        -webkit-box-shadow: rgba(142, 142, 142, 0.19)       0px 6px 15px 0px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        color: rgb(255, 255, 255);
      }
      
      &:nth-child(even) .content:before {
        left: -38px;
      }
      
      &:nth-child(odd) .content {
        left: calc(-#{$content-width} - 45px);
        background-color: rgba(30, 3, 83, 0.7);
        backdrop-filter: undefined;
        -webkit-backdrop-filter: undefined;
        border: 5px;
        box-shadow: rgba(142, 142, 142, 0.19) 0px 6px       15px 0px;
        -webkit-box-shadow: rgba(142, 142, 142, 0.19)       0px 6px 15px 0px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        color: rgb(255, 255, 255);
      }
      
      &:nth-child(odd) .content:before {
        right: -38px;
      }
    }
  }
}



/** Testemonials DIV 4  ******************************/

/**** u _slider.scss **/

.testi{
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  display: flex;
  align-items: center;
  
}

.testiN{
  width: 45%;
  height: 300px;
  padding:50px;
  color: $dark;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: undefined;
  -webkit-backdrop-filter: undefined;
  border: 5px;
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  position: absolute;
  right: 0;
  z-index: 1;

  p{
    color: $dark;
    padding-top: 60px;
  }

 
}

#testplaneta{
    width: 200px;
    height: 200px;
    position: absolute;
    right: -60px;
    top: -10px;
    z-index: -1;
  
}








/** prices DIV ******************************/

.peti{
  margin-top:200px;
  background: $dark; /* fallback for old browsers */
  background-color: white;
}

.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.card-body {
  background-color: rgba(30, 3, 83, 0.7);
        backdrop-filter: undefined;
        -webkit-backdrop-filter: undefined;
        border: 5px;
        box-shadow: rgba(142, 142, 142, 0.19) 0px 6px       15px 0px;
        -webkit-box-shadow: rgba(142, 142, 142, 0.19)       0px 6px 15px 0px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        color: rgb(255, 255, 255);
  color: $yellow;
  text-align: center;
  

  h2{
    margin-top: 80px;
  }
  
  p, h1{
    color: white;
    margin-left: 10px;
    
  }

  button{
  margin-top: 20px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif ;
  color: #ffffff;
  background: $yellow;
  padding: 5px 100px 5px 100px;
  text-decoration: none;
  border-style: none;
  }

  button:hover {
    background:$dark;
    text-decoration: none;
  }
}

#price2{
  opacity: 1;
  width: 140px;
  position: absolute;
  top: -60px;
  left: 33%;
}






/****** CONTACT DIV 6 **********/
.kontakt{
  margin-top: 200px;
  font-family: 'Rubik', sans-serif !important;

}

.form-row{
  padding: 50px;
  background-color: rgba(30, 3, 83, 0.7);
  backdrop-filter: undefined;
  -webkit-backdrop-filter: undefined;
  border: 5px;
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px       15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19)       0px 6px 15px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  color: rgb(255, 255, 255);
}

.message{
  input{
    height: 200px;
  }
}

.btn {
  margin-top: 20px !important;
  -webkit-border-radius: 10 !important;
  -moz-border-radius: 10 !important;
  border-radius: 10px !important;
  font-size: 20px !important;
  font-family: 'Rubik', sans-serif  !important;
  color: #ffffff !important;
  background:$yellow!important;
  padding: 5px 100px 5px 100px !important;
  text-decoration: none !important;
  border-style: none !important;
}

.btn:hover {
  background:$dark!important;
  color: white !important;
  text-decoration: none !important;
}



/** FOOTER **/

.footer{
  
  margin-top: 200px;
  width: 100%;
  background: $dark; /* fallback for old browsers */
  background-image: linear-gradient(to right top, $light,$medium,$dark,$dark); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footerCloud img{
  width: 100%;
  
}

.footer1{
  

  p{
    font-size: 30px;
    color: white;
  }
  
}


.footer2{
 

  a{
    color: white;
  }

  a:hover{
    color: $yellow;
  }
}

.footer3{
   iframe{
    height: 100%;
    width: 100%;
  }

  #map-container-google-2{
    width: 100%;
    height: 100%;
  }
}

.media{
  text-align: center;
  hr{
    color: $yellow;
  }

  i{
    font-size: 30px;
    padding: 10px;
    color: white;
   
  }
}

.copy{
  height: 30px;
  width: 100%;
  background-color: $dark;
  color: white;
  text-align: center;
}



/* ----------------------------------------
   ---------- Media Queries --------------- 
   ------------------------------------- */

@media screen and (max-width: 1020px) {
    .timeline ul li .content {
      width: 41vw;
    }
    .timeline ul li:nth-child(odd) .content {
      left: calc(-41vw - 45px);
    }
}

@media only screen and (max-width: 970px) {

  /* Landing */
    .clouds {
      margin-bottom: -30%;
    }
  
    #cloud3 {
      margin-bottom: 30%;
    }
}

@media screen and (max-width: 700px) {
    .timeline ul li {
      margin-left: 20px;
      
      .content {
        width: calc(100vw - 100px);
      
        h2{
          text-align: initial;
        }
      }
      
      &:nth-child(odd) .content {
        left: 45px;
        background-color: rgba(30, 3, 83, 0.8);
        backdrop-filter: undefined;
        -webkit-backdrop-filter: undefined;
        border: 5px;
        box-shadow: rgba(142, 142, 142, 0.19) 0px 6px       15px 0px;
        -webkit-box-shadow: rgba(142, 142, 142, 0.19)       0px 6px 15px 0px;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        color: rgb(255, 255, 255);
      }
      
      &:nth-child(odd) .content:before {
        left: -33px;
      }
    }
}

@media only screen and (max-width: 660px) {

  /* Landing */

  
  
  .textidug {
    
    padding-bottom: 20px;
    h1{
      color:$yellow;
    } 

    p{
      color: white;
    }
  }

  .mainbtn{
    padding: 5px 60px;
  }


  .planeta {
    left: -15% !important;
  }
  
  #cloud1,
  #cloud2,
  #cloud3 {
    display: none;
  }
  
  
}
  
@media only screen and (max-width: 500px) {

  /* Landing */
  #cloud1, #cloud2 {
    display: none;
  }

 
  .raketa{
    align-items: center;
    padding-top: 200px;
    img {
    margin-right: -25%;
    }
  }
  
  .textidug{
    p{
      width: 80% !important;
    }
  }
  

  /* our mission */
  .morp-f{
    width: 90%;
    left: 20px;
    top: 10px;

    h2{
      padding: 20px;
    }
    p{
      padding : 20px;
      
    }

  } 

  .morp-bg{
    background-image: none !important;
  }
}
  
@media only screen and (max-width: 380px) {

  /* Landing */
    
  
    .raketa img {
      margin-right: -30%;
    }

    .textidug{
      p{
        width: 80% !important;
      }
    }
    .mainbtn{
      padding: 5px 30px;
    }
}

  
  

