@import '_colors.scss', '_nav.scss';

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: $dark;
  color: $yellow
}
::-moz-selection {
  background: $dark;
  color: $yellow
}

/** HOME DIV ******************************/
.landing {
  position: relative;
  width: 100%;
  background: $dark; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,$light, $light,$medium,$dark); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,$light,$light,$medium,$dark); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.zvezde {
  position: absolute;
  z-index: 2;
  width: 100%;
  
}

.planeta {
  width: 120px;
  height: auto;
  position: absolute;
  bottom: 65%;
  left: 25%;
}

.clouds {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 700px;
}

#cloud1 {
  width: 100%;
  opacity: 0.05;
}

#cloud2 {
  left: 0;
  width: 100%;
  position: absolute;
  opacity: 0.03;
  z-index: 1;
}

#cloud3 {
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: 2;
}

/** Text i raketa **/
.raketa {
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.raketa img {
  height: 600px;
  z-index: 3;
  padding: 0;
  margin: 0;
  margin-right: 10%;
}

.textidug {
  position: relative;
  z-index: 3;
  padding-bottom: 60px;
}

.textidug h1 {
  padding-bottom: 20px;
}


/** Responsive **/
@media only screen and (max-width: 970px) {
  .clouds {
    margin-bottom: -30%;
  }

  #cloud3 {
    margin-bottom: 30%;
  }
}

@media only screen and (max-width: 660px) {
  .clouds {
    margin-bottom: -60%;
  }

  .textidug h1, p{
    color: white;
  }

  .planeta{
    left: -15% !important;
  }

  #cloud1,
  #cloud2,
  #cloud3 {
    display: none;
  }

  #cloudMob {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .clouds {
    margin-bottom: -100%;
  }

  .raketa img{
    margin-right: -30%;
  }
}

@media only screen and (max-width: 380px) {
  .clouds {
    margin-bottom: -130%;
  }

  .raketa img{
    margin-right: -30%;
  }
}

/** ABOUT DIV ******************************/

#About{
  position: relative;
  z-index: 9;
}

.left img{
  width: 100%;  
}



.morp-bg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  border-radius:50px ;
  background: $dark; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,$light, $light,$medium,$dark); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,$light,$light,$medium,$dark); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.zuto{
  position: absolute;
  z-index: 5;
  height: 150px;
  top: 15px;
  right: 200px;
}
.morp-f{
  position: relative;
  z-index: 3;
  width: 70%;
  padding: 50px;
  margin-left: -30%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.55);
backdrop-filter: undefined;
-webkit-backdrop-filter: undefined;
border: 1;
box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
-webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
border-radius: 25px;
-webkit-border-radius: 25px;
color: rgb(255, 255, 255);
}

.rocketa{
  height: 500px;
  margin-left: 150px;
  rotate: 30deg;
  width: 200px !important;
}