@import '_colors.scss', '_nav.scss';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif !important;
}

/* Works on Firefox */
* {
  scrollbar-color: $yellow $dark;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

::selection {
  background: $dark;
  color: $yellow;
}
::-moz-selection {
  background: $dark;
  color: $yellow;
}

/** HOME DIV ******************************/
.landing {
  position: relative;
  width: 100%;
  background: $dark; /* fallback for old browsers */
  background-image: linear-gradient(to right top, $light,$medium,$dark,$dark); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.zvezde {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.planeta {
  width: 120px;
  height: auto;
  position: absolute;
  bottom: 65%;
  left: 25%;
}

.clouds {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 700px;
}

#cloud1 {
  width: 100%;
  opacity: 0.05;
}

#cloud2 {
  left: 0;
  width: 100%;
  position: absolute;
  opacity: 0.03;
  z-index: 1;
}

#cloud3 {
  left: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  opacity: 1;
  z-index: 2;
}

/** Text i raketa **/
.raketa {
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  img {
    height: 600px;
    z-index: 3;
    padding: 0;
    margin: 0;
    margin-right: 10%;
  }
}

.textidug {
  position: relative;
  z-index: 3;
  padding-bottom: 60px;

  h1 {
    padding-bottom: 5px;
    color: $dark;
    text-decoration: solid;
    
    letter-spacing: 1px;
  }
  p{
    padding-bottom: 20px;
    color: $dark;
  }
}

.mainbtn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif ;
  color: #ffffff;
  background: #f2b401;
  padding: 5px 100px 5px 100px;
  text-decoration: none;
  border-style: none;
}

.mainbtn:hover {
  background: #1e0353;
  text-decoration: none;
}


/** Responsive **/
@media only screen and (max-width: 970px) {
  .clouds {
    margin-bottom: -30%;
  }

  #cloud3 {
    margin-bottom: 30%;
  }
}

@media only screen and (max-width: 660px) {
  .clouds {
    margin-bottom: -60%;
  }

  .textidug h1,
  p {
    color: white;
  }

  .planeta {
    left: -15% !important;
  }

  #cloud1,
  #cloud2,
  #cloud3 {
    display: none;
  }

  #cloudMob {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  .clouds {
    margin-bottom: -100%;
  }

  .raketa img {
    margin-right: -30%;
  }
}

@media only screen and (max-width: 380px) {
  .clouds {
    margin-bottom: -130%;
  }

  .raketa img {
    margin-right: -30%;
  }
}

/** ABOUT DIV ******************************/

#About {
  position: relative;
  z-index: 9;
  margin-top: 100px;
}

.morp-bg {
  background-image: url('../img/pozadina5.png');
  width: 100%;
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.morp-f {
  position: absolute;
  width: 52%;
  height: 400px;
  z-index: 1;
  right: 0;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.87);
  backdrop-filter: undefined;
  -webkit-backdrop-filter: undefined;
  border: 5px;
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  color: rgb(255, 255, 255);

  h2 {
    padding: 60px;
    color: $dark;
    text-decoration: solid;
    letter-spacing: 1px;
  }

  p {
    padding: 20px 40px 0 40px;
    color: $dark;
    text-align: justify;
  }

  h5 {
    font-style: italic;
    color: $dark;
    padding: 10px 40px;
    text-align: right;
  }
}

/** GALERY DIV ******************************/

.galery {
  margin-top: 200px;
  height: 600px;
  width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 600px;
}

.carousel {
  border-radius: 40px;
}

/** Testemonials DIV ******************************/

.testemonials {
  width: 100%;
  margin-top: 200px;
}

.testem {
  background-image: url('../img/Saturn.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
.prvi1,
.drugi2 {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.prvi,
.drugi,
.treci,
.cetvrti {
  background-color: rgba(30, 3, 38, 0.8);
  backdrop-filter: undefined;
  -webkit-backdrop-filter: undefined;
  border: 5px;
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  color: rgb(255, 255, 255);
  height: 250px;
  width: 45%;
  padding: 10px;
}

.ime {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  img {
    height: 60px;
    padding-right: 20px;
  }
}

.ocena {
  background-color: $dark;
  width: 120px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

/** prices DIV ******************************/

.peti{
  background: $dark; /* fallback for old browsers */
background-color: white;
}

.price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  margin-top: 200px;
  background-color: rgba(242,180, 1, 0.5) !important;
  backdrop-filter: undefined !important;
  -webkit-backdrop-filter: undefined !important;
  border: 5px !important;
  box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px !important;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px !important;
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
}
.card-body {
  
  color: $dark;

  h2{
  

    width: 95%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    margin-top: 70px;
    color: white;
  }
}

.program {
  position: absolute;
  display: flex;
  background:$yellow;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  left: -15px;
  border-radius: 10px;
  height: 80px;
  padding-left: 35px;
  padding-right: 35px ;
  color: white;

  img {
    width: 60px;
    height: auto;
  }
}

.ponuda{
  margin-top: 30%;

  h5 {
    padding-bottom: 10px;
    padding-left: 10px;
  }

  i{
    padding-right: 20px;
  }
}


.modal{
  z-index: 9999;
}

.modal-backdrop{
  display: none;
}